.btn_current{
	background: bisque;
    padding: 10px 15px;
    font-size: 25px;
    text-decoration: none;
	color: black;
	font-weight:bold;
}
.btn_change{
	background: beige;
    padding: 10px 15px;
    font-size: 25px;
    text-decoration: none;
	color: black;
}
body{
	display: flex;
	margin: 0;
}

.main{
    background-image: url(img/back1.jpg);
    /*background-position: right;*/
    background-size: contain;
    height: 900px;
    width: 70%;
    background-repeat: no-repeat;
	overflow: hidden;
	
}
.back{
  position: relative;
    display: block;
	height:100%;
	color: transparent;
  text-shadow: 0 0 0 black;
  font-family: system-ui;
}
.btn{
	z-index: 999;
    height: 100%;
    width: 28%;
    margin-left: 2%;
}


.items{
	position: absolute;
    top: 75%;
    left: 53%;
	width:150px;
height:150px;
}




#doc_number::before{
	content: "00";
	
}




.middle_name{
    position: absolute;
    top: 55%;
   
}
.sex,
.nationality{
	position: absolute; 
	 top: 61.5%;
}



#doc_number{
	display: contents;
    position: absolute;
	font-family: system-ui;
	font-size: 200%;
	  
}




.expiry{
    position: absolute;
    top: 74.5%;
    
}

.golo{
	    position: absolute;
   right: 40.1%;
    top: 39.8%;
}
.golo img{
	   width: 63%;
		
}
.photo{
	    position: absolute;
     left: 18%;
    top: 37%;
}
.photo img{
	        width: 325px;
    height: 430px;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	opacity: 0.7;
	object-fit: cover;
}
#preview{
  display: none;
}



.btn input{
	font-size:180%;
	outline: none;
}
.num_doc{
	 top: 74.5%;
    position: absolute;
	opacity: 0.85;
	left: 64.3% !important;
}


textarea{
	opacity: 0.8;
	    font-family: system-ui;
 
 color:black;
   outline : none;
  resize : none;
  overflow : auto;
  border:none;
  background:none;
  font-size: 185%;
  text-transform: uppercase;
}

.main_row{
	opacity: 1;
 outline : none;
  resize : none;
  overflow : auto;
  border:solid 1px black;
  width: 90%;
    font-size: 130%;
}
.ru,
.en,
.date_row,
.sex,
.middle_name,
.expiry
{
	left: 45.5%;
}
.ru{
  position: absolute;
        top: 32.2%;
    
    line-height: 310%;
  
}

.en{
 
 position: absolute;
    top: 36%;
    
    line-height: 310%;
}
.record_row,
.date_row{
	 top: 59.3%;
	   position: absolute;
}
.date_row{
	
   
   
}

.record_row{    
  direction: rtl;
  text-align: left;
  word-spacing: -8px;

  
}
.record_row::before{
	content:"002-";
	margin-left: -12px;
	font-size: 200%;
}
.alert{
	    color: red;
    font-weight: bold;
    font-size: 130%;
}

.nationality,
.num_doc,
.record_row{
	    left: 64%;
}
.code{
	 position: absolute;
	top: 68%;
    left: 73.8%;
}



@media (max-width: 1600px){
	.btn_current{
    padding: 10px 15px;
    font-size: 18px;
}
.btn_change{
    padding: 10px 15px;
    font-size: 18px;
}


.items{

    top: 59.5%;
    left: 52.75%;
	width:112.5px;
    height:112.5px;
}

.middle_name{
    top: 43.7%;
}
.sex,
.nationality{ 
	 top: 49%;
}



#doc_number{
	font-size: 150%;	  
}



.golo{
       right: 33.1%;
    top: 31.6%;
}
.golo img{
	   width: 50%;	
}
.photo{
    left: 20%;
    top: 30.75%;
}
.photo img{
	        width: 244px;
    height: 323px;
}

.btn input{
	font-size:135%;
}
.expiry,
.num_doc{
    top: 59%;   
}
.num_doc{

	left: 64.5% !important;
}


textarea{
  font-size: 150%;
}

.main_row{
  width: 90%;
    font-size: 97.5%;
}
.ru,
.en,
.date_row,
.sex,
.middle_name,
.expiry
{
	left: 45.5%;
}
.ru{
               top: 25.5%;
    line-height: 300%;
  
}

.en{
    top: 28.5%;
     line-height: 300%;
}
.record_row,
.date_row{
	 top: 47%;
}


.record_row::before{
	font-size: 150%;
}
.alert{

    font-size: 97.5%;
}

.nationality,
.num_doc,
.record_row{
	    left: 64%;
}

.code{
	top: 54%;
}

}
@media (max-width: 1280px){

}



@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only 
screen and (min-device-pixel-ratio : 1.5) { 


}














